<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - Paste</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <nav>
      <div class="nav-left">
        <a href="{{ url_for('paste.paste') }}">Paste</a>
      </div>
      <div class="nav-right">
        <ul>
          {% if g.auth is not none %}
          <li><a href="{{ url_for('auth.deauth') }}">Log out</a></li>
          {% endif %}
          <li><a href="{{ url_for('paste.list') }}">List</a></li>
        </ul>
      </div>
    </nav>
    {% block header %}{% endblock %}
    {% for message in get_flashed_messages() %}
      {{ message }}
    {% endfor %}
    {% block content %}{% endblock %}
  </body>
</html>
