<!DOCTYPE html>
<html>
  <head>
    <title>Authenticate - Paste</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    {% for message in get_flashed_messages() %}
      {{ message }}
    {% endfor %}
    <form id="auth" method="post">
      <input type="text" name="key" id="key" placeholder="Key" required>
      <input type="submit" value="Authenticate">
    </form>
  </body>
</html>
