{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Pastes{% endblock %}</h1>
{% endblock %}

{% block content %}
  <ul>
  {% for paste in pastes %}
    <li><a href="{{ url_for('paste.show', id=paste['id']) }}">{{ paste["title"] }}</a></li>
  {% endfor %}
  </ul>
{% endblock %}
