{% extends "base.html" %}

{% block header %}
  <h1>{% block title %}Paste{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form id="paste" method="post">
    <input type="text" name="title" id="title" placeholder="Title" value="{{ request.form['title'] }}" required>
    <textarea name="body" id="body" placeholder="Body">{{ request.form['body'] }}</textarea>
    <input type="submit" value="Save">
  </form>
{% endblock %}
